/* Blog Card Style */
.blog_card{
    width:30%;
    max-height: 450px;
    border: 1px dashed gray;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}
.blog_img img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.blog_type{
    background-color: rgb(112, 112, 112);
    color: white;
    top:7px;
    left: 7px;
    border-radius: 10px;
    padding: 5px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.6px;
    cursor: pointer;
    z-index: 10;
}
.blog_type:hover{
    opacity: .8;
}
.blog_body{
    padding: 5px;
}
.blog_subtitle{
    color: rgb(91, 93, 93);
}
.blog_title a{
    text-decoration: none;
    color: rgb(63, 55, 55);
}
.blog_title a:hover{
    color: rgb(139, 198, 204);
}
.statistic{
    font-size: 13px;
}
.statistic i{
    font-size: 16px;
}
.blog_text{
    color: rgb(91, 93, 93);
}
.blog_author img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* Blog Card Style */
.brand_pagination{
    margin-bottom: 100px;
}