.chattingPage {
    position: fixed;
    height: 550px;
    bottom: 100px;
    right: 0px;
    z-index: 1000;
    width: 400px;
    border-radius: 20px;
    background-color: white;
    transition: all .3s ease-in-out;
}

.clientChattingPage {
    position: fixed;
    height: 550px;
    bottom: 50px;

    width: 400px;
    left: 0px;
    border-radius: 0 20px 20px 0;
    background-color: #F4F4F4;
    background-image: url("../../../public/icons/telegram_wrapper.svg");
    transition: all .3s ease-in-out;
}

.chatting_open {
    position: absolute;
    background-color: black;
    color: white;
    top: 50%;
    transform: rotate(-90deg);
    left: -105px;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    letter-spacing: 0.5px;
    height: 40px;
    width: 180px;
    cursor: pointer;
}

.clientChattingPage .chatting-header {
    border-radius: 0px 20px 0px 0;
}

.chatting-header {
    background-color: #FBE285;
    padding: 15px;
    border-radius: 20px 0px 0 0;
    font-size: 18px;
    font-weight: bold;
    max-height: 15%;
}

.chatting-title>div:nth-child(1) {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.chatting-header button {
    border-radius: 50%;
    height: 50px;
    color: black;
    font-size: 20px;
    border: none;
    background-color: transparent;
    min-width: 50px;
}
.clientChattingPage .chatting-body{
    overflow-y: auto;
    padding: 0 20px;
}
.chattingPage .chatting-body {
    height: 71%;
    overflow-y: auto;
    background-image: url("../../../public/icons/telegram_wrapper.svg");
    padding: 0 10px;
}

.bot_sender_msg {
    width: 80%;
    margin: 15px 0;
}

.bot_sender_msg img {
    width: 50px;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px black;
    padding: 5px;
    border-radius: 50%;
}

.bot_sender_msg>div {
    background-color: #F4F4F4;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    box-shadow: 0 0 5px black;
}

.clientChattingPage .chatting-body .questions_msg>div {
    display: inline-block;
    background-color: white;
    margin: 5px 0;
    padding: 5px;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    cursor: pointer;
}

.clientChattingPage .chatting-body .questions_msg>div:hover {
    background-color: rgb(88, 88, 238);
    color: white;
}

.sender_question div {
    background-color: rgb(103, 103, 231);
    color: white;
    padding: 5px;
    border-radius: 10px 0 10px 10px;
}

.clientChattingPage .chatting-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    background-color: #F7EBCB;
    padding: 0 17px;
    border-bottom-right-radius: 20px;
}

.chattingPage .chatting-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    background-color: #F7EBCB;
    padding: 0 17px;
    border-bottom-left-radius: 20px;
}

.chatting-type input {
    background-color: #F4F4F7;
    border-radius: 20px;
    border: none;
    padding: 0 10px;
    margin: 0;
}

.chatting-type button {
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: black;
    font-size: 14px;
}

.chatting-type button:focus {
    background-color: transparent;
}

.chatting-body .msg_right {
    padding: 9px;
    height: auto;
    color: white;
    display: flex;
    background: rgb(231, 79, 125);
    border-radius: 20px 20px 0px 20px;
    line-height: 15px;
    word-break: break-word;
    white-space: pre-wrap;
    position: relative;
    max-width: 250px;
}

.chatting-body .msg_left {
    margin-left: 10px;
    padding: 9px;
    height: auto;
    color:white;
    display: flex;
    background: rgba(59, 58, 58, 0.688);
    border-radius: 20px 20px 20px 0px;
    line-height: 15px;
    word-break: break-word;
    white-space: pre-wrap;
    position: relative;
    max-width: 250px;
}

@media only screen and (max-width:440px){
    .chattingPage{
        width: 350px;
    }
}