.faqPage {
    padding-top: 70px;
    background-image: url("https://media.secure-mobiles.com/website_engine/images/mobiles_2023/landing-pages/special-offers/new-design/phones-bg-texture.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.faq_body {
    margin-bottom: 100px;
}

.faq_body .question_item {
    width: 45%;
    transition: all .3s ease-in-out;
}

@media only screen and (max-width:440px){
    .faq_title {
       display: none;
    }
    .subtitle{
        font-size: 10px !important;
    }
    .subtitle_last{
        display: none !important; 
    }
}