/* Swiper Style */
.homePage {
    position: relative;
}

.homeSwiper {
    height: 600px;
    background-color: aliceblue;
}

.swiper-card {
    padding-top: 25px;
}

.slide_vid_info {
    transform: scaleY(0);
    transition: transform .3s ease-in-out;
    top: 30%;
    animation: vid_info_appear .3s forwards ease-in-out;
}

@keyframes vid_info_appear {
    0% {
        transform: scaleY(0.5);
    }

    100% {
        transform: scaleY(1);
    }
}

.slide_vid_info div:nth-child(2) {
    margin-bottom: 50px;
}

.slide_item_2 {
    background-color: black;
    gap: 100px;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.slide_info {
    padding-top: 200px;
    animation: appear_letters 1s ease-in-out;
}

@keyframes appear_letters {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

/* Swiper Style */


/* Hot Products */
.product-swiper {
    height: 400px;
    overflow: hidden;
}

.hot-products-title {
    letter-spacing: 2px;
}

.hot-product-subtitle {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 35px;
    margin-top: 35px;
    color: rgb(111, 110, 110);
}

.slider-card {
    width: 240px;
    height: 377px;
    position: relative;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    padding: 20px;
}

.card-img {
    background-color: #F2F5FA;
    display: flex;
    padding: 20px 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.card-img>img {
    height: 180px;
    width: 100px;
}

.card-img div:last-child {
    color: white;
    font-size: 10px;
    font-weight: bold;
    top: 30px;
    left: 25px;
    padding: 3px 7px;
}

.hot-products .hot-products-title {
    font-family: Work Sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 38px;
}

.card-features {
    position: absolute;
    top: 20px;
    right: 25px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(20%);
    transition: all .6s ease-in-out;
}

.card-features div {
    background-color: #c6c2c4;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-features div i {
    font-size: 19px;
}

.slider-card .product_sort {
    position: absolute;
    padding: 15px 25px;
    width: 70%;
    border-radius: 10px 10px 0 0;
    margin: 0 20px;
    max-height: 100px;
    bottom: 0px;
    background-color: #fff;
    transform: translateY(50%);
    opacity: 0;
    box-shadow: 0 0 0px black;
    transition: all .6s ease-in-out;
}

.product_fade:hover .product_sort {
    box-shadow: 0 0 4px black;
}

.slider-card:hover .card-features,
.slider-card:hover .product_sort {
    transform: translateY(0%);
    opacity: 1;
}

.product_sort .color-select {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product_sort .color-select>span {
    font-size: 10px;
    font-weight: bold;
    color: black;
    padding: 2px;
    border-radius: 5px;
}

.color-select button {
    background-color: rgb(210, 228, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    transform: scale(1);
    transition: all .3s ease-in-out;
}

.color-select button:hover {
    box-shadow: 0 0 7px black;
    transform: scale(1.1);
}

.product_sort img {
    height: 20px;
    width: 15px;
}

.animate-heart {
    animation: heart-animate .4s ease-in-out;
}

@keyframes heart-animate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* Hot Products */

/* Our Brands */
.bg {
    background-image: url("https://media.secure-mobiles.com/website_engine/images/mobiles_2023/landing-pages/special-offers/new-design/phones-bg-texture.png");
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brand_cards {
    margin: 100px 0;
    position: relative;
    z-index: 10;
}

.brand_card {
    margin: 50px 20px;
    padding: 20px 35px;
    border-radius: 30px;
    box-shadow: 0 0 5px black;
    cursor: pointer;
    transform: scale(1);
    transition: transform .3s ease-in-out
}

.brand_card:hover {
    transform: scale(1.1);
}

.brand_img {
    position: relative;
    width: 120px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand_img .brand_logo {
    border-radius: 10px;
    width: 100%;
}


/* Our Brands */

/* Deals TYPES STYLES */
.deal-contract {
    position: relative;
    z-index: 10;
    height: 450px;
    width: 100%;
    background: #F7EBCB;
}

.deal_info .deal_learn a {
    text-decoration: none;
    letter-spacing: 1.4px;
    color: #6A515E;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(56, 56, 56);
}

.deal-contract .deal_img img {
    height: 450px;
    width: 500px;
}

.deal-contract .deal_info {
    position: relative;
}

.deal-contract .guarantee_img {
    position: absolute;
    opacity: 0.5;
    right: -90px;
    top: -50px;
    z-index: -1;
}

.deal-contract .guarantee_img img {
    width: 300px;
    transform: rotate(-45deg);
}


/* Advetisement Phone */

.ads_phone {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
    box-shadow: 0 0 30px black;
}

/* Sale Products */
.homeProducts {
    padding-top: 100px;
}

.homeProducts .tab:focus {
    background-color: transparent;
}

:root {
    --surface-color: #fff;
    --curve: 40;
}


.product_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    list-style-type: none;
}

.product_card {
    position: relative;
    transition: all .3s ease-in-out;
    width: 22%;
    display: block;
    height: 400px;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 0 3px black;
    background-color: #edeced;
}

.product_card .card_img {
    padding: 20px;
    width: 100%;
    height: 90%;
    position: relative;
}

.swiper-card .card-img {
    position: relative;
    height: 220px;
    border-radius: 20px;
    box-shadow: 0 0 0 black;
    transition: box-shadow .4s ease-in-out;
}

.swiper-card .card-img:hover {
    box-shadow: 0 0 10px black;
}

.product_img_1,
.product_img_2 {
    position: absolute;
    opacity: 0;
    transition: opacity .6s ease-in-out;
    top: 20px;
    cursor: pointer;
}

.product_fade:not(:hover) .product_img_1 {
    opacity: 1;
}

.product_fade:hover .product_img_2 {
    opacity: 1;
}

.card-img .card-img_badge {
    left: -200px
}

.product_card .product_badge {
    position: absolute;
    left: 0;
    top: 40px;
    background-color: #FBE285;
    padding: 5px 10px;
    border-radius: 0 20px 20px 0;
    color: rgb(105, 104, 104);
    font-weight: bold;
    letter-spacing: 1px;
}


.product_card .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.product_card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.product_card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c6c2c4;
    padding: 10px;
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
    font-weight: bold;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}

.card__status {
    font-size: .8em;
    color: #D7BDCA;
    font-weight: bold;
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/* Sale Products */

/* Community Posts */
.communityHomePosts {
    margin-top: 100px;
}

.post_card {
    padding: 0;
    width: 350px;
    margin: 0 5px;
    height: 360px;
    cursor: pointer;
    overflow: hidden;
}

.post_card:hover {
    z-index: 10;
}

.post_card .post_img {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.post_card .post_img img {
    width: auto;
    max-height: 200px;
    position: relative;
    z-index: 10;
}

.post_card .post_img>div:nth-child(1) {
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(5px);
    z-index: 9;
}

.post_card .post_img:hover {
    box-shadow: 0 0 5px black;

}


.post_card .post_img .post_type {
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: #BCE7F0;
    padding: 5px 10px;
    border-radius: 0 10px 10px 0;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}

.post_card img {
    width: 100%;
}

.post_card .post_body {
    padding: 20px 15px;
}

.post_card .post_title {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    color: #c6c2c4;
}

.post_card .post_title:hover {
    color: #f2d56d
}

.post_card .post_text {
    color: gray;

}

/* Community Posts */

/* Service Info Style */
.serviceInfoPage {
    width: 100%;
    height: 330px;
    position: relative;
    z-index: 100;
}

.service-wrapper {
    padding: 50px 20px 50px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://image-us.samsung.com/SamsungUS/home/home-appliances/uvp_rtb_dk_1440.jpg?$default-jpg$");
}

.serviceInfo-body a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    letter-spacing: 2.8px;
    cursor: pointer;
}

.serviceInfo-body .col-4 img {
    width: 90px;
}

.serviceInfo-body .col-4:nth-child(2) {
    border-right: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: white;
    border-top: 0;
    border-bottom: 0;
}

/* Service Info Style */

/*Screen Resolution*/
@media (max-width:440px) {

    /*HomeNavbar responsive*/
    .brand-swiper {
        opacity: 1 !important;
        transform: translateZ(0)
    }

    .slider-card {
        height: 100px !important;
        width: 120px !important;
    }

    .card-body {
        display: block !important;
    }

    .card-text {
        font-size: 7px !important;
    }

    .slider_icon {
        font-size: 6px;
    }

    .card-price {
        font-size: 5px;
    }

    .color-select button {
        height: 20px;
        width: 20px;
    }

    .hot-products-title {
        font-size: 20px !important;
    }

    .product-swiper {
        height: 240px !important;
        margin-bottom: 50px;
    }

    .product_sort .color-select>span {
        font-size: 5px;
    }

    .product_sort {
        display: flex;
        z-index: 1000;
    }

    .card-img {
        height: 140px !important;
        display: flex;
        align-items: center;
    }
    .card-img_badge{
        height: 10px;
        width: 30px;
        font-size: 6px !important;
        padding: 5px;
        display: flex;
        align-items: center;
        left: 0px !important;
    }


    .swiper-card .card-img>img {
        width: auto !important;
        height: 100px;
    }

    /*DAEAL RESPONSIVE*/
    .deal-contract {
        background-image: url("../../../public/icons/monthly_payment.jpg");
        background-size: contain;
    }

    .deal-contract .deal_info p>.d-none {
        position: absolute;
        top: 0;
        left: 0;
        display: block !important;
        height: 100%;
        width: 100%;
        background-color: white;
        opacity: 0.6;
        z-index: 2;
    }

    .deal-contract .deal_info p>div:nth-child(2) {
        position: relative;
        z-index: 10;
    }

    .deal-contract-body {
        gap: 0 !important;
    }

    .deal-contract .deal_btns {
        justify-content: center;
    }

    .deal-contract .deal_btns a:nth-child(2) {
        font-weight: bold;
        background-color: #f4f8f9;
    }

    .deal-contract .deal_learn span {
        font-weight: bold;
    }

    .deal-contract .deal_info p {
        position: relative;
        color: black !important;
        font-weight: bold;
        width: 100%;
    }

    .deal-contract .deal_title {
        height: 100px;
        color: black;
        font-size: 20px !important;
    }

    .deal-contract>div {
        margin-top: 20px !important;
    }

    .deal-contract .deal_img img {
        display: none;
    }

    .deal-contract .deal_title {
        width: 100% !important;
    }


    .deal-contract .guarantee_img {
        display: none;
    }

    .deal-contract .deal_info{
        margin-top: 50px;
    }

    /*Our brands*/
    .brand_card {
        height: 120px;
        width: 120px;
        margin-right: 100px !important;
    }
    .brand_card .brand_img img{
        width: 40px !important;
    }

    /*HOME Target Pictures*/
    .product_card {
        opacity: 1 !important;
        transform: translateZ(0)
    }

    .product_card {
        height: 350px;
        width: 250px;
    }

    .product_cards {
        justify-content: center !important;
    }

    /*Service */
    .serviceInfo-body p {
        font-size: 10px !important;
        padding: 0 !important;
    }

    .title {
        font-size: 14px !important;
        margin-bottom: 10px;
    }

    /*Footer*/
    .social-links a {
        padding: 10px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .privacies>div>div{
        font-size: 8px !important;
    }

    .contact-us_info_text{
        font-size: 14px !important;
    }
    /*DowntoUp Btn*/
    .down-to-up{
        bottom: 100px !important;
    }

    /*Chatting*/
    .chattingPage{
        z-index: 100000000 !important;
    }
}