.myPage {
    background-image: url("https://media.secure-mobiles.com/website_engine/images/mobiles_2023/landing-pages/special-offers/new-design/phones-bg-texture.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}

.setting_controller {
    width: 30%;
    margin-top: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    max-height: 700px;
}

.settings_items {
    width: 100%;

}

.settings_items {
    cursor: pointer;
}

.user_info {
    position: relative;
    display: flex;
    height: 200px;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(252, 255, 97), rgb(251, 193, 20));
}

.user_type {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 10px;
    font-weight: 500;
    opacity: 0.9;
}

.myPage .user_logout {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #DBDDEF;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

.myPage .user_logout img {
    width: 30px;
}

.user_img {
    position: absolute;
    background-color: white;
    bottom: -60px;
    height: 150px;
    width: 150px;
    display: flex;
    border: 2px dashed gray;
    border-radius: 50%;
    justify-content: center;
}

.user_img img {
    width: 140px;
    transform: rotateY(0);
    transition: transform 0.7s ease-in-out;
}

.user_img img:hover {
    transform: rotateY(360deg);
}

.user_name {
    padding-top: 40px;
}

.settings_items {
    margin-top: 30px;
}

.settings_items button {
    font-size: 18px;
    font-weight: bold;
    max-width: 100%;
    align-items: start;
    transition: border .2s ease-in-out;
    padding: 5px 20px;
}

.settings_items button:focus {
    background-color: aliceblue;
}

/* Acconu Info */
.account_info {
    background-color: transparent;
    width: 70%;
}

/* Acconu Info */
.my_account {
    overflow: hidden;
}



.my_account_header {
    position: relative;
    border-radius: 100px 0 0 0;
    height: 300px;
    width: 100%;
    background-color: beige;
}

.my_account_header>div {
    position: absolute;
    bottom: -120px;
    width: 750px;
    left: 50px;
    background-color: transparent;
}

.my_account_header .update_pic_btn {
    position: relative;
    height: 70px;
    width: 70px;
    font-size: 30px;
    border: none;
    box-shadow: 0 0 5px black;
    border-radius: 50%;
    margin-top: 15px;
}

.my_account_header .update_pic_btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.my_account_header .update_pic_btn:focus {
    background-color: transparent;
}

.my_account .setting_controller {
    position: absolute;
    width: 380px;
    background-color: transparent;
    right: 0px;
    top: 370px;
}

.my_account .setting_controller>button {
    box-shadow: none;
    font-weight: bold;
    border-radius: 0;
}


.my_account .setting_controller>button::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgb(246, 188, 30);
    transform: scaleX(0%);
    transition: transform .3s ease-in-out;
}

.my_account .setting_controller>button:hover::after {
    transform: scaleX(100%);
}

.my_account .setting_controller>button:focus {
    background-color: transparent;
}

.account_img {
    background-color: white;
    border-radius: 50%;
}

.account_img img {
    width: 140px;
    border-radius: 50%;
}

.my_account_body {
    padding: 180px 30px 0 30px;
    width: 200%;
}

.my_account_body>div {
    width: 50%;
    transition: all .6s ease-in-out;
}


.my_account_body .update_description textarea {
    height: 100px;
}

/* Bank Transition */
.bank_cards {
    width: 400px;
    border-radius: 20px;
}

.bank_card {
    position: relative;
    background-image: url("https://bankmeister.com/assets/images/card/532.png");
    background-size: contain;
    background-position: center;
    height: 300px;
    width: 100px;
    background-repeat: no-repeat;
}

.bank_card .owner_name {
    position: absolute;
    top: 30px;
    left: 10px;
    background-color: #DBDDEF;
    padding: 5px;
    font-weight: bold;
}

.bank_card .hide_info_card {
    position: absolute;
    width: 150px;
    height: 50px;
    background-color: #DBDDEF;
    top: 70px;
    right: 30px;
}

.bank_card .hide_info {
    position: absolute;
    width: 70px;
    height: 20px;
    background-color: #DBDDEF;
    bottom: 74px;
    left: 10px
}

.bank_card .card_number {
    position: absolute;
    top: 120px;
    left: 130px;
    font-size: 20px;
    font-weight: bold;

}

.bank_card .bank_cvc {
    position: absolute;
    bottom: 72px;
    left: 125px;
    font-weight: bold;
}


.bank_card .card_expire {
    position: absolute;
    bottom: 100px;
    right: 163px;
    font-weight: bold;
}

.card_add_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100px;
    background-color: rgb(204, 219, 233);
}

.card_add_btn a {
    display: block;
    font-size: 40px;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: aliceblue;
}

.card_add {
    margin-top: 60px;
    width: 600px;
}

/* Bank Transition */

/* Wish List Style */
.wishList_amount {
    width: 600px;
    background-color: aliceblue;
    padding: 20px;
    margin: 70px auto 0 auto
}

.wishList_amount tr,
td,
th {
    border: 1px solid gray !important;
}

.terms_check input {
    opacity: 1 !important;
    position: static !important;
}

/* Wish List Style */

/* Followers Style */
.follow_title {
    margin: 25px 0;
}

.follow_item {
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    border: 1px solid gray;
    background-color: #46576a;
}

.follow_item:hover {
    box-shadow: 0 0 10px black;
}

.follow_item img {
    width: 70px
}

/* Followers Style */

/* Posts Style */
.targetPosts {
    height: 500px;
}

.targetPost {
    background-color: aliceblue;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 5px black;
    width: 600px;
}

.targetPost .post_img {
    overflow: hidden;
}

.targetPost img {
    width: 150px;
    transform: scale(1);
    transition: transform.2s ease-in-out;
}

.targetPost img:hover {
    transform: scale(1.2);
}

.read_more {
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: rgb(140, 139, 137);
}

/* Posts Style */