/* Navbar Style */
.otherNavbar {
    height: 300px;
}

.productNavbar {
    height: 420px;
}

.navbar-container {
    z-index: 150;
    position: fixed;
    margin-top: 0px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: #c8bdbd;
    opacity: 0.5;
    color: white;
    padding: 20px;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    transform: scale(1);
    transition: transform .3s
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: #464545;
    opacity: 1;
    transform: scale(1.2);
}

.homeSwiper .redmi_home {
    background-color: #E5E8EE;
    background-image: url("https://i02.appmifile.com/213_operator_global/23/02/2024/379d5448a3c0cfb17e4b40b7f1931f8d.jpg?thumb=1&w=2560&f=webp&q=85");
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.redmi_home .redmi_info {
    width: 400px;
    text-align: center;
}


.navbar_wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #2e2d2d;
    opacity: 0.4;
}

.navbar {
    padding: 10px 40px;
}

.navbar-brand {
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 23px;
}

.nav>.nav-item>a {
    cursor: pointer;
    color: rgb(113, 112, 112);
    font-weight: bold;
}

.nav>.nav-item>a:after {
    display: block;
    content: "";
    border-bottom: 2px solid rgb(188, 159, 52);
    transform: scaleX(0);
    transition: 0.3s ease-in-out;
}

.nav>.nav-item>a:hover::after {
    transform: scaleX(1);
}

.nav-features .nav-item button {
    box-shadow: none;
}

.nav-features .nav-item button:focus {
    background-color: gray;
}

.nav-badge {
    height: 20px;
    width: 20px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.underline {
    border-bottom: 2px solid rgb(249, 163, 35);
}

.navbar-address {
    background-color: rgb(237, 235, 235);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-top: 70px;
}


.address-title {
    position: relative;
    z-index: 10;
    font-size: 48px;
    line-height: 1.5;
    color: white;
    margin-bottom: 20px;
}

.navbar-address .address-link {
    position: relative;
    z-index: 9;
}

.address-link a:nth-child(1) {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.address-link a:nth-child(2) {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.productNavbar .product_ads_swiper {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.productNavbar .product_ads_swiper video {
    width: 100%;
}

/* Navbar Style */

/* Basket Modal Style */
.basket_modal {
    width: 25%;
    height: 100vh;
    position: absolute;
    z-index: 1000000;
    top: 0;
    right: 0%;
    border: none;
    transition: transform 4s ease-in-out;
    transform: translateX(-100%);
    overflow-y: auto;
}

.basket_title {
    padding: 20px;
    border-bottom: 1px solid black;
    font-weight: 500;
}

.basket_products,
.basket-footer {
    padding: 20px 30px;
}

.basket_modal .close_toggle {
    border-radius: 10px;
}

.basket_products .product_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 10px;
    height: 100px;
    border-radius: 10px;
    overflow: visible;
}

.basket_products .product_img img {
    max-width:100%;
}

.basket_modal .terms input {
    position: relative;
    opacity: 1;
    padding: 0;
    margin: 0;
}

.basket_modal .terms p {
    font-size: 14px;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: relative;
    pointer-events: visible;

}

/* Basket Modal Style */

.nav-features .auth_user button:focus,
.basket_btn button:focus {
    color: black
}

/*Adaptive design*/
.container-mobile {
    max-width: 430px !important;
}

.mobile-nav {
    position: fixed;
    top: 0px;
    height: 70px;
    width: 100%;
    z-index: 100;
    display: none;
    margin-top: 0;
    background-color: aliceblue;
    padding: 10px;
}

.bottom_nav {
    display: none;
    position: fixed;
    bottom: 0vh;
    height: 70px;
    left: 0;
    width: 100%;
    background-color: aliceblue;
    padding: 20px 10px;
    color: white;
    z-index: 100;
    /* Adjust as needed */

}

.bottom_nav a {
    text-decoration: none;
    color: black
}

.bottom_nav_text {
    font-size: 10px;
    font-weight: bold
}

.bottom_nav .selected_nav {
    color: #FFC107
}



@media only screen and (max-width:440px) {
    .navbar-container {
        display: none;
    }

    .mobile-nav {
        display: flex !important;
    }

    .slide_vid video {
        display: none;
    }

    .bottom_nav {
        display: flex !important;

    }

    .slide_item_1 video {
        display: none;
    }

    .slide_item_1 {
        background-image: url("../../../public/pictures/products/galaxy_24.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .galaxy_slide .w-50 {
        font-size: 12px;
        color: white !important;
    }

    .slide_item_2 .apple_text {
        font-size: 10px;
    }

    .slide_item_2 img {
        width: 200px;
    }

    .redmi_home {
        background-position: 55% 80% !important;
    }

    .redmi_info {
        color: white;
    }

    /*Other Navbar*/
    .otherNavbar,
    .productNavbar {
        display: none;
    }

    /*Basket*/
    .basket_modal {
        width: 80%;
    }

    .swal2-container {
        margin-top: 100px !important;
    }

    .basket_products .product_img {
        width: 140px !important;
        border-radius: 0;
        padding: 0px;
        background-color:transparent;
        overflow: visible;
    }

    .basket_products .product_img img {
        max-width: 40px;
    }
    .basket_products .product_remove_btn{
        position: absolute;
        right: 20px;
    }
}