/* Navbar Style */
.otherNavbar {
    height: 300px;
}

.productNavbar {
    height: 420px;
}

.navbar-container {
    z-index: 100;
    position: fixed;
    margin-top: 0px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: #c8bdbd;
    opacity: 0.5;
    color: white;
    padding: 20px;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    transform: scale(1);
    transition: transform .3s
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: #464545;
    opacity: 1;
    transform: scale(1.2);
}

.homeSwiper .redmi_home {
    background-color: #E5E8EE;
    background-image: url("https://i02.appmifile.com/213_operator_global/23/02/2024/379d5448a3c0cfb17e4b40b7f1931f8d.jpg?thumb=1&w=2560&f=webp&q=85");
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.redmi_home .redmi_info{
    width: 400px;
    text-align: center;
}


.navbar_wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #2e2d2d;
    opacity: 0.4;
}

.navbar {
    padding: 10px 40px;
}

.navbar-brand {
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 23px;
}

.nav>.nav-item>a {
    cursor: pointer;
    color: rgb(113, 112, 112);
    font-weight: bold;
}

.nav>.nav-item>a:after {
    display: block;
    content: "";
    border-bottom: 2px solid rgb(188, 159, 52);
    transform: scaleX(0);
    transition: 0.3s ease-in-out;
}

.nav>.nav-item>a:hover::after {
    transform: scaleX(1);
}

.nav-features .nav-item button {
    box-shadow: none;
}

.nav-features .nav-item button:focus {
    background-color: gray;
}

.nav-badge {
    height: 20px;
    width: 20px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.underline {
    border-bottom: 2px solid rgb(249, 163, 35);
}

.navbar-address {
    background-color: rgb(237, 235, 235);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-top: 70px;
}


.address-title {
    position: relative;
    z-index: 10;
    font-size: 48px;
    line-height: 1.5;
    color: white;
    margin-bottom: 20px;
}

.navbar-address .address-link {
    position: relative;
    z-index: 9;
}

.address-link a:nth-child(1) {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.address-link a:nth-child(2) {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.productNavbar .product_ads_swiper {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.productNavbar .product_ads_swiper video {
    width: 100%;
}

/* Navbar Style */

/* Basket Modal Style */
.basket_modal {
    width: 25%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0%;
    border: none;
    padding: 20px 30px;
    transition: transform 4s ease-in-out;
    transform: translateX(-100%);
}

.basket_modal .basket_products {
    max-height: 450px;
    overflow-y: scroll;
}

.basket_modal .close_toggle {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transform: rotate(0);
    transition: transform 1s ease-in-out;
}

.basket_modal .close_toggle:hover {
    transform: rotate(180deg);
}

.basket_products .product_img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6bfbf;
    width: 100px;
    padding: 15px;
    height: 100px;
    border-radius: 10px;
}

.basket_products .product_remove_btn:hover {
    color: rgb(214, 63, 158);
    cursor: pointer;
}

.basket_modal .terms input {
    position: relative;
    opacity: 1;
    padding: 0;
    margin: 0;
}

.basket_modal .terms p {
    font-size: 14px;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: relative;
    pointer-events: visible;

}

/* Basket Modal Style */

.nav-features .auth_user button:focus,
.basket_btn button:focus {
    color: black
}