.allProducts {
    background-image: url("https://media.secure-mobiles.com/website_engine/images/mobiles_2023/landing-pages/special-offers/new-design/phones-bg-texture.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.filter_product {
    max-height: 800px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    overflow-y: auto;
}


.filter-title {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
}

.filter_name {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.filter_product .brand_box {
    box-shadow: 0 0 5px black;
    padding: 5px;
    width: 70px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: transform .3s ease-in-out;
}

.filter_product .brand_box:hover {
    transform: scale(1.1);
}


.brand_box .brand_img {
    width: 100%;
    height: 70px;
}

.brand_box .brand_name_2 {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.filter_product .colour_choose {
    background-color: #aad0f1;
    border: 3px solid rgb(173, 165, 165);
    cursor: pointer;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: scale(1);
    transition: all .3s ease-in-out;
    padding: 5px;
}

.filter_product .colour_choose:hover {
    transform: scale(1.1);
    color: red;
}

.filter_product .colour_choose>div {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.filter_product .filter_reset_btn {
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid rgb(99, 173, 226);
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 50px;
}

.filter_product .filter_reset_btn:hover {
    background-color: #FFC107;
}

.accordion,
.accordion-item {
    background-color: transparent;
    border-bottom: 1px solid rgb(120, 114, 114);
    padding: 5px 0;
}

.accordion-button {
    background-color: transparent;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: none;
}

.accordion-button:not(:focus) {
    background-color: transparent;
    box-shadow: none;
}

.colors_list>div div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.storage #storage_list>div>div {
    width: 70px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #0b5c96;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: transform .3s ease-in-out;
}

.storage #storage_list>div>div:hover {
    color: red;
    transform: scale(1.1);
    background-color: #AAD0F1;
}

/* PODUCT STYLE */
.products_body>div:nth-child(1) {
    width: 25%;
}

.products_body>div:nth-child(2) {
    width: 75%;
}

.product_item {
    background-color: rgb(205, 222, 237);
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    height: 260px;
    color: #4f4e4e;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 3px black;
}

.product_item:hover {
    background-color: rgb(147, 169, 187);
}

.product_img {
    overflow: hidden;
}

.product_img {
    height: 100%;
    transition: transform .2s ease-in-out;
    padding: 15px;
}

.product_img img {
    max-height: 200px;
    max-width: 150px;
}

.product_img button {
    height: 40px;
    width: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    z-index: 10;
    background-color: #e5e5e5;
    right: 10px;
    top: 5px;
}


.product_item {
    font-size: 13px;
}

.product_item .select_color {
    position: relative;
}

.select_color>div {
    position: absolute;
    top: 15px;
    right: 40px;
}

.product_statistics {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

/* PODUCT STYLE */
/* Chosen Product Style */
.chosen_product .product_assistant {
    position: fixed;
    z-index: 10000;
    width: 300px;
    bottom: 50px;
    left: 10px;
    transition: all .3s ease-in-out;
}

.product_assistant .assistant_img {
    box-shadow: 0 0 5px #567fd6;
    border-radius: 50%;
    background-color: white;
}

.product_assistant .assistant_img span {
    top: 10px;
    right: -10px;
    padding: 9px;
    border: 2px solid white;
}

.product_assistant .assitant_text {
    box-shadow: 0 0 5px black;
    padding: 5px;
    border-radius: 0 10px 10px 10px;
    color: rgb(110, 108, 108);
    font-weight: bold;
    font-size: 12px;
    background-color: white;
}

.single_product_img {
    width: 500px;
    height: 600px;
    margin: 0 auto;
}

.single_product_img .main_img {
    height: 100%;
    width: 300px;
    margin: 0 auto;
}
.single_product_img .main_img .single_pic img{
    width: auto !important;
    height: 400px !important;
    margin: 0 auto;
}


.single_product_img .product_swiper {
    height: 150px;
    display: flex;
    justify-content: center;
}


.chosen_product {
    margin-top: 50px;
}

.chosen_product .product_imgs {
    margin-top: 100px;
}

.chosen_product .link_inquery {
    cursor: pointer;
}

.chosen_product .link_inquery:hover {
    color: red;
}

.inner_img img {
    height: 500px;
}

.product_swiper .product_swiper_item img {
    height: 100px;
    height: 120px;
}

.product_swiper .product_swiper_item {
    box-shadow: 0 0 10px black;
    width: 160px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transform: scale(1);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.product_swiper .chosen_product_img {
    box-shadow: 0 0 0px black;
    transform: scale(0.8);
    background-color: #aad0f1;
}

.product_swiper .product_swiper_item:hover {
    box-shadow: 0 0 0px black;
    transform: scale(0.8);
    background-color: #aad0f1;
}

.product_info {
    width: 400px;
}

.product_info .product_storage {
    border: 1px solid rgb(157, 157, 157);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(183, 181, 181);
}

.product_info .product_color {
    display: flex;
    justify-content: center;
    padding: 3px;
    width: 30px;
    height: 30px;
    border: 0.2px solid rgb(157, 157, 157);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.product_info .product_quantity_count {
    cursor: pointer;
    border-bottom: 1px solid black;
}

.product_info .buy_terms input {
    position: relative !important;
    opacity: 1 !important;
}

.product_share a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #333;
    color: #e5e5e5;
}

.product_share a:hover {
    background-color: #757474;
}

.chosen_product_tab {
    transition: all .2s ease-in-out;
}

.chosen_product_tab:hover {
    color: black;
}

.chosen_product_tab:focus {
    background-color: transparent;
}

/* Chosen Product Style */

/* Product rating Style */
.poduct_review {
    border: 1px solid rgb(109, 106, 106);
    padding: 25px
}

.poduct_review .poduct_review_item {
    padding: 10px 0;
    border-bottom: 1px solid rgb(67, 63, 63);
}

/* Product rating Style */

/* Product Write Review */
.reviewPage .review_title input {
    font-size: 17px;
    border: 1px solid rgb(148, 143, 143);
    padding: 5px;
    border-radius: 10px;
}

.reviewPage i {
    cursor: pointer;
}

.reviewPage textarea {
    height: 100px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 50px;
}

/* Product Write Review */